.es-docs__navigation {
  width: 300px;
}

.es-docs__navigation-head {}

.es-docs__navigation-list {
  padding-left: 0;
}

.es-docs__navigation-row {
  font-size: var(--text-size);
  list-style: none;
  margin-top: 5px;
}

.es-docs__navigation-label {
  display: block;
  margin-left: var(--label-padding);
  width: calc(100% - var(--label-padding));
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  color: var(--primary-text-color);
  text-decoration: none;
}

.es-docs__navigation-label-selected {
  position: relative;
  font-weight: 500;
  text-decoration: underline;
}

.es-docs__navigation-label-selected::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: var(--accent-color); */
  opacity: 0.6;
  border-radius: 5px;
  z-index: 1;
}

.es-docs__navigation-label:not(.es-docs__navigation-label-selected, .es-docs__navigation-label-disabled):hover {
  position: relative;
}

.es-docs__navigation-label:not(.es-docs__navigation-label-selected, .es-docs__navigation-label-disabled):hover::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.3;
  border-radius: 5px;
  z-index: 1;
}

.es-docs__navigation-row-selected {}

.es-docs__navigation-label-disabled {
  color: var(--secondary-text-color);
  cursor: auto;
}