.es-docs__logger-container {
  overflow: auto;
  max-height: 300px;
}

.es-docs__logger_input-container {
  display: flex;
  align-items: center;
}

.es-docs__logger_input-prefix {
  color: #5555ee;
  position: absolute;
  pointer-events: none;
  width: 2em;
  text-align: center;
}

.es-docs__logger_input {
  padding-left: 2em;
  line-height: 1.5;
  border: 0;
  width: 100%;
}
